
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
.anchor
{
    font-size: 14px;
    position: fixed;
}
body{
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
}
canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}
